<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link rel="stylesheet" href="css/style.min.css" />
  </head>
  <body>
    <nav class="nav">
      <div class="nav__container container">
        <button class="nav__btn">
          <img src="icons/question.svg" alt="help" class="nav__btn-icon" />
        </button>
        <div class="nav__dropdown">
          <button class="nav__dropdown-btn">Пациенты</button>
          <div class="nav__dropdown-content">
            <ul class="nav__dropdown-list">
              <li class="nav__dropdown-item">Имя Фамилия</li>
              <li class="nav__dropdown-item">Пациент</li>
              <li class="nav__dropdown-item">Пациент</li>
            </ul>
            <hr />
            <button class="nav__dropdown-item nav__dropdown-item_btn">
              Добавить
            </button>
          </div>
        </div>
      </div>
    </nav>
    <section class="disease-info">
      <div class="container">
        <div class="disease-info__row">
          <div class="disease-info__field">
            <label class="label" for="patient_name">Фамилия и имя</label>
            <input class="input" type="text" id="patient_name" />
          </div>
          <div class="disease-info__field disease-info__field_small">
            <label class="label" for="patient_age">Возраст</label>
            <input class="input" type="number" id="patient_age" />
          </div>
        </div>
        <div class="disease-info__row">
          <div class="disease-info__field">
            <label class="label" for="diagnosis">Диагноз</label>
            <textarea
              class="textarea"
              type="text"
              id="diagnosis"
              rows="2"
            ></textarea>
          </div>
        </div>
        <div class="disease-info__row">
          <div class="disease-info__field">
            <label class="label" for="complaints">Жалобы</label>
            <textarea
              class="textarea"
              type="text"
              id="complaints"
              rows="2"
            ></textarea>
          </div>
        </div>
        <div class="disease-info__row">
          <div class="disease-info__field">
            <label class="label" for="anamnesis">Анамнез</label>
            <textarea
              class="textarea"
              type="text"
              id="anamnesis"
              rows="2"
            ></textarea>
          </div>
        </div>
        <div class="disease-info__row">
          <div class="disease-info__field">
            <label class="label" for="heredity">Наследственность</label>
            <textarea
              class="textarea"
              type="text"
              id="heredity"
              rows="2"
            ></textarea>
          </div>
        </div>
        <div class="disease-info__row">
          <div class="disease-info__field">
            <label class="label" for="treatment_plan">План лечения</label>
            <textarea
              class="textarea"
              type="text"
              id="treatment_plan"
              rows="2"
            ></textarea>
          </div>
        </div>
        <div class="disease-info__row">
          <div class="disease-info__field">
            <label class="label" for="comments">Комментарии</label>
            <textarea
              class="textarea"
              type="text"
              id="comments"
              rows="2"
            ></textarea>
          </div>
        </div>
        <div class="disease-info__status-msg">Изменения сохранены</div>
      </div>
    </section>
    <section class="disease-history">
      <div class="container">
        <div class="switch">
          <button class="switch__btn switch__btn_active">Контроли</button>
          <button class="switch__btn">Рубрики</button>
        </div>
        <div class="disease-history__content">
          <!-- <div class="disease-history__rubric-selection">
            Выберите рубрику
            <div class="rubrics-select">
              <button class="rubrics-select__btn">
                <span>Выберите рубрику</span>
                <img src="icons/dropdown-arrow.svg" alt="arrow" />
              </button>
              <div class="rubrics-select__content">
                <ul class="rubrics-select__list">
                  <li class="rubrics-select__item">
                    <details>
                      <summary>Ментальные</summary>
                      <ul>
                        <li>Поведенческие симптомы</li>
                        <li>Страхи</li>
                        <li>Мании</li>
                        <li>Психиатрические диагнозы</li>
                        <li>Слабость нервная</li>
                        <li>Нарушения сна</li>
                        <li>Головокружение</li>
                        <li>Голова</li>
                        <li>Зрение</li>
                        <li>Слух</li>
                      </ul>
                    </details>
                  </li>
                  <li class="rubrics-select__item">
                    <details>
                      <summary>Весь организм</summary>
                      <ul>
                        <li>Лицо</li>
                        <li>Глаза</li>
                        <li>Уши</li>
                        <li>Нос</li>
                        <li>Рот: запах, привкус</li>
                        <li>Речь</li>
                        <li>Зубы</li>
                        <li>Горло</li>
                      </ul>
                    </details>
                  </li>
                  <li class="rubrics-select__item">
                    <details>
                      <summary>Дыхательная</summary>
                      <ul>
                        <li>Дыхание</li>
                        <li>Кашель</li>
                        <li>Мокрота</li>
                      </ul>
                    </details>
                  </li>
                  <li class="rubrics-select__item">
                    <details>
                      <summary>Пищеварительная</summary>
                      <ul>
                        <li>Желудок</li>
                        <li>Живот</li>
                        <li>Стул</li>
                        <li>Прямая кишка</li>
                      </ul>
                    </details>
                  </li>
                  <li class="rubrics-select__item">
                    <details>
                      <summary>Выделительная система</summary>
                      <ul>
                        <li>Моча</li>
                        <li>Почки</li>
                        <li>Мочевой пузырь</li>
                        <li>Уретра</li>
                      </ul>
                    </details>
                  </li>
                  <li class="rubrics-select__item">
                    <details>
                      <summary>Репродуктивная</summary>
                      <ul>
                        <li>Половые органы</li>
                        <li>Простата</li>
                        <li>Молочные железы</li>
                      </ul>
                    </details>
                  </li>
                  <li class="rubrics-select__item">
                    <details>
                      <summary>Циркуляторная</summary>
                      <ul>
                        <li>Шея</li>
                        <li>Грудь</li>
                        <li>Спина</li>
                        <li>Конечности</li>
                      </ul>
                    </details>
                  </li>
                  <li class="rubrics-select__item">
                    <details>
                      <summary>Сенсорная</summary>
                      <ul>
                        <li>Озноб</li>
                        <li>Лихорадка</li>
                        <li>Потоотделение</li>
                        <li>Кожа</li>
                      </ul>
                    </details>
                  </li>
                </ul>
              </div>
            </div>
          </div> -->
          <div class="disease-history__tool-bar">
            <button class="disease-history__tool-bar-item">Сравнить</button>
            <button class="disease-history__tool-bar-item">Изменить</button>
            <button class="disease-history__tool-bar-item" disabled>
              Удалить
            </button>
          </div>
          <ul class="disease-history__timeline">
            <!-- <li class="rubric-record">
              <div class="rubric-record__date">12.12.12</div>
              <div class="rubric-record__control-title">Название контроля</div>
              <div class="rubric-record__content">
                Равным образом сложившаяся структура организации представляет
                собой интересный эксперимент проверки системы обучения кадров,
                соответствует насущным потребностям
              </div>
            </li>
            <li class="rubric-record">
              <div class="rubric-record__date">12.12.12</div>
              <div class="rubric-record__control-title">Название контроля</div>
              <div class="rubric-record__content">
                Значимость этих проблем настолько очевидна, что рамки и место
                обучения кадров представляет собой интересный эксперимент
                проверки модели развития. Разнообразный и богатый опыт
                постоянное информационно-пропагандистское обеспечение нашей
                деятельности в значительной степени обуславливает создание
                соответствующий
              </div>
            </li>
            <li class="rubric-record">
              <div class="rubric-record__date">12.12.12</div>
              <div class="rubric-record__control-title">Название контроля</div>
              <div class="rubric-record__content">
                Равным образом сложившаяся структура организации представляет
                собой интересный
              </div>
            </li> -->
            <li class="control-record">
              <div class="control-record__date">12.12.12</div>
              <div class="control-record__content">
                <div class="control-record__head">
                  <input class="control-record__checkbox" type="checkbox" />
                  <div class="control-record__title">
                    Целенаправленный опрос
                  </div>
                </div>
                <div class="control-record__body">
                  <div class="control-record__rubric">
                    <div class="control-record__rubric-title">
                      1. Название рубрики
                    </div>
                    <div
                      class="control-record__rubric-descr textarea"
                      contenteditable
                    >
                      Lorem ipsum dolor sit amet consectetur adipisicing elit
                      Quasi autem, est et, necessitatibus eius quisquam ex quis
                      molestiae assumenda ullam a nam? Mollitia cumque f ugit
                      iure quis vitae, nihil dignissimos!
                    </div>
                    <div class="control-record__rubric-status-msg">
                      Сохранено
                    </div>
                  </div>
                  <div class="control-record__rubric">
                    <div class="control-record__rubric-title">
                      1. Название рубрики
                    </div>
                    <div class="control-record__rubric-descr textarea">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit
                      Quasi autem, est et, necessitatibus eius quisquam ex quis
                      molestiae assumenda ullam a nam? Mollitia cumque f ugit
                      iure quis vitae, nihil dignissimos!
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="new-record">
      <div class="container">
        <div class="new-record__header">Добавить контроль</div>
        <input
          class="input new-record__title"
          type="text"
          placeholder="Название"
        />
        <div class="new-record__subheader">Изменившиеся рубрики:</div>
        <div class="new-record__rubric">
          <div class="rubrics-select">
            <button class="rubrics-select__btn">
              <span>Выберите рубрику</span>
              <img src="icons/dropdown-arrow.svg" alt="arrow" />
            </button>
            <div class="rubrics-select__content">
              <ul class="rubrics-select__list">
                <li class="rubrics-select__item">
                  <details>
                    <summary>Ментальные</summary>
                    <ul>
                      <li>Поведенческие симптомы</li>
                      <li>Страхи</li>
                      <li>Мании</li>
                      <li>Психиатрические диагнозы</li>
                      <li>Слабость нервная</li>
                      <li>Нарушения сна</li>
                      <li>Головокружение</li>
                      <li>Голова</li>
                      <li>Зрение</li>
                      <li>Слух</li>
                    </ul>
                  </details>
                </li>
                <li class="rubrics-select__item">
                  <details>
                    <summary>Весь организм</summary>
                    <ul>
                      <li>Лицо</li>
                      <li>Глаза</li>
                      <li>Уши</li>
                      <li>Нос</li>
                      <li>Рот: запах, привкус</li>
                      <li>Речь</li>
                      <li>Зубы</li>
                      <li>Горло</li>
                    </ul>
                  </details>
                </li>
                <li class="rubrics-select__item">
                  <details>
                    <summary>Дыхательная</summary>
                    <ul>
                      <li>Дыхание</li>
                      <li>Кашель</li>
                      <li>Мокрота</li>
                    </ul>
                  </details>
                </li>
                <li class="rubrics-select__item">
                  <details>
                    <summary>Пищеварительная</summary>
                    <ul>
                      <li>Желудок</li>
                      <li>Живот</li>
                      <li>Стул</li>
                      <li>Прямая кишка</li>
                    </ul>
                  </details>
                </li>
                <li class="rubrics-select__item">
                  <details>
                    <summary>Выделительная система</summary>
                    <ul>
                      <li>Моча</li>
                      <li>Почки</li>
                      <li>Мочевой пузырь</li>
                      <li>Уретра</li>
                    </ul>
                  </details>
                </li>
                <li class="rubrics-select__item">
                  <details>
                    <summary>Репродуктивная</summary>
                    <ul>
                      <li>Половые органы</li>
                      <li>Простата</li>
                      <li>Молочные железы</li>
                    </ul>
                  </details>
                </li>
                <li class="rubrics-select__item">
                  <details>
                    <summary>Циркуляторная</summary>
                    <ul>
                      <li>Шея</li>
                      <li>Грудь</li>
                      <li>Спина</li>
                      <li>Конечности</li>
                    </ul>
                  </details>
                </li>
                <li class="rubrics-select__item">
                  <details>
                    <summary>Сенсорная</summary>
                    <ul>
                      <li>Озноб</li>
                      <li>Лихорадка</li>
                      <li>Потоотделение</li>
                      <li>Кожа</li>
                    </ul>
                  </details>
                </li>
              </ul>
            </div>
          </div>
          <textarea
            class="textarea new-record__rubric-descr"
            type="text"
            rows="1"
            placeholder="Опишите изменения"
          ></textarea>
        </div>
        <button class="new-record__add-rubric-btn">+</button>
        <button class="new-record__save-btn">Сохранить</button>
      </div>
    </section>
    <div class="modals">
      <div class="control-compare" style="display: none">
        <div class="control-compare__head">
          Сравнение
          <button class="control-compare__close-btn">&#10006;</button>
        </div>

        <div class="control-compare__control-titles">
          <div class="control-compare__control-title">Контроль один</div>
          <div class="control-compare__control-title">Контроль два</div>
        </div>
        <div class="control-compare__rubric">
          <div class="control-compare__rubric-title">Рубрика 1</div>
          <div class="control-compare__rubric-body">
            <div class="control-compare__rubric-descr">
              Значимость этих проблем настолько очевидна, что рамки и место
              обучения кадров представляет собой интересный эксперимент проверки
              модели развития. Разнообразный и богатый опыт постоянное
              информационно-пропагандистское обеспечение нашей деятельности в
              значительной степени обуславливает создание соответствующий
            </div>
            <div class="control-compare__rubric-descr">
              Равным образом сложившаяся структура организации представляет
              собой интересный эксперимент проверки системы обучения кадров,
              соответствует насущным потребностям
            </div>
          </div>
        </div>
        <div class="control-compare__rubric">
          <div class="control-compare__rubric-title">Рубрика 1</div>
          <div class="control-compare__rubric-body">
            <div class="control-compare__rubric-descr">
              Значимость этих проблем настолько очевидна, что рамки и место
              обучения кадров представляет собой интересный эксперимент проверки
              модели развития. Разнообразный и богатый опыт постоянное
              информационно-пропагандистское обеспечение нашей деятельности в
              значительной степени обуславливает создание соответствующий
            </div>
            <div class="control-compare__rubric-descr">
              Равным образом сложившаяся структура организации представляет
              собой интересный эксперимент проверки системы обучения кадров,
              соответствует насущным потребностям
            </div>
          </div>
        </div>
        <div class="control-compare__rubric">
          <div class="control-compare__rubric-title">Рубрика 1</div>
          <div class="control-compare__rubric-body">
            <div class="control-compare__rubric-descr">
              Значимость этих проблем настолько очевидна, что рамки и место
              обучения кадров представляет собой интересный эксперимент проверки
              модели развития. Разнообразный и богатый опыт постоянное
              информационно-пропагандистское обеспечение нашей деятельности в
              значительной степени обуславливает создание соответствующий
            </div>
            <div class="control-compare__rubric-descr">
              Равным образом сложившаяся структура организации представляет
              собой интересный эксперимент проверки системы обучения кадров,
              соответствует насущным потребностям
            </div>
          </div>
        </div>
        <div class="control-compare__rubric">
          <div class="control-compare__rubric-title">Рубрика 1</div>
          <div class="control-compare__rubric-body">
            <div class="control-compare__rubric-descr">
              Значимость этих проблем настолько очевидна, что рамки и место
              обучения кадров представляет собой интересный эксперимент проверки
              модели развития. Разнообразный и богатый опыт постоянное
              информационно-пропагандистское обеспечение нашей деятельности в
              значительной степени обуславливает создание соответствующий
            </div>
            <div class="control-compare__rubric-descr">
              Равным образом сложившаяся структура организации представляет
              собой интересный эксперимент проверки системы обучения кадров,
              соответствует насущным потребностям
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="js/script.js"></script>
  </body>
</html>
