@import "../../../../../variables.scss";

.control-record {
  position: relative;
  margin-top: 20px;
  width: 90%;
  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 3px;
    left: -30px;
    width: 10px;
    height: 10px;
    background-color: #212529;
    border-radius: 100%;
  }
  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 3px;
    left: -26px;
    width: 2px;
    height: 130%;
    background-color: #212529;
  }
  &:last-child {
    &::after {
      height: 100%;
    }
  }
  &__date {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
  }
  &__content {
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid $border-color;
    &_open {
      .control-record__head {
        border-radius: 10px 10px 0 0;
        border: 1px solid $accent-color;
        outline: 0;
        box-shadow: 0 0 0 0.25rem #34a1c359;
      }
      .control-record__title {
        &::after {
          transform: rotate(-180deg);
          bottom: 50%;
        }
      }

      .control-record__body {
        max-height: 3000px;
        overflow: visible;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
  &__head {
    border-radius: inherit;
    transition: all 0.3s;
  }
  &__checkbox {
    margin: 20px 15px;
    display: inline-block;
    vertical-align: middle;
    width: 1.2em;
    height: 1.2em;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid $border-color;
    border-radius: 0.25em;
    appearance: none;
    appearance: none;
    print-color-adjust: exact;
    &:active {
      filter: brightness(90%);
    }
    &:focus {
      border-color: $accent-color;
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgba(52, 161, 195, 0.35);
    }
    &:checked {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
      background-color: $accent-color;

      border-color: $accent-color;
    }
  }
  &__title {
    display: inline-block;
    vertical-align: middle;
    padding: 20px 10px;
    width: calc(100% - 1.2em - 35px);
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    &-text {
      display: inline-block;
      width: calc(100% - 20px);
    }
    &::after {
      content: "";
      transition: 0.3s all;
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      // transform: translateY(-10%);
      background: url(../../../../../assets/dropdown-arrow.svg) center
        center/cover no-repeat;
    }
  }

  &__body {
    position: relative;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
  }
  &__edit-btn,
  &__cancel-btn,
  &__save-btn {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    background-color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    z-index: 1;
    transition: 0.3s transform;
    img {
      display: block;
      height: 30px;
    }
    &:hover {
      transform: scale(1.2);
    }
  }
  &__edit-btn {
    img {
      height: 25px;
    }
  }
  &__cancel-btn {
    right: 60px;
    img {
      height: 35px;
    }
  }
  &__add-rubric-btn {
    display: block;
    position: relative;
    top: -10px;
    background-color: white;
    border: 0;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s transform;
    z-index: 1;
    img {
      display: block;
      height: 23px;
    }
    &:hover {
      transform: scale(1.3);
    }
  }
  &__rubric {
    position: relative;
    padding: 40px 20px 0 20px;
    &-title {
      &_new {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        column-gap: 5px;
      }
    }
    &-descr {
      margin-top: 10px;
      color: #242424;
    }
    &:last-of-type {
      padding-bottom: 20px;
    }
  }
  &__loading {
    position: absolute;
    z-index: 2;
    top: 40%;
    left: calc(50% - 25px);
  }
  &__status-msg {
    position: absolute;
    top: 25px;
    right: 20px;
    font-size: 14px;
    color: #464646;
  }
}
