.nav {
  height: 50px;
  border-bottom: 1px solid $border-color;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s all;
    &:hover {
      background-color: $accent-color;
    }
    &-icon {
      display: block;
      width: 20px;
    }
  }
  &__dropdown {
    position: relative;
    &:hover &-btn {
      background-color: $accent-color;
      &::before {
        transform: rotate(180deg) translateY(2px);
      }
    }
    &:hover &-content {
      display: block;
    }
    &-btn {
      display: block;
      height: 35px;
      width: 130px;
      background-color: white;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      transition: 0.3s all;
      color: black;
      font-size: 17px;
      font-weight: 700;
      &::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-right: 7px;
        transform: translateY(-2px);
        width: 20px;
        height: 20px;
        background: url(../icons/dropdown-arrow.svg) center center/cover
          no-repeat;
        transition: 0.3s all;
      }
    }
    &-content {
      position: absolute;
      top: 35px;
      left: 50%;
      transform: translateX(-50%);
      display: none;
      transition: 0.5s all;
      min-width: 100%;
      padding: 10px;
      background-color: $grey-bg;
      border-radius: 10px;
      border: 1px solid $border-color;
    }
    &-list {
      list-style-type: none;
      text-align: center;
    }
    &-item {
      display: block;
      font-size: 17px;
      font-weight: 300;
      padding-bottom: 10px;
      cursor: pointer;
      transition: 0.3s all;
      &:hover {
        color: $accent-color;
      }
    }
    &-item_btn {
      margin: 0 auto;
      margin-top: 8px;
      padding: 5px 10px;
      border: none;
      font-weight: 400;
      background-color: $grey-bg;
    }
  }
}
