@import "../../variables.scss";

.disease-history {
  margin-top: 80px;
  &__content {
    margin: 0 auto;
  }
  &__tool-bar {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 5px 12px;
    border: 1px solid $border-color;
    border-radius: 10px;
    &-btns {
      display: flex;
      justify-content: flex-start;
      column-gap: 20px;
    }
    &-btn {
      position: relative;
      display: block;
      border: none;
      border-radius: 5px;
      padding: 5px 8px;
      background-color: white;
      cursor: pointer;
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: -10px;
        width: 1px;
        height: 90%;
        background-color: #414141;
      }
      &:last-child {
        &::after {
          display: none;
        }
      }
      &:hover {
        background-color: $accent-color;
      }

      &:disabled,
      &:disabled &:hover {
        color: #303030;
        background-color: white;
        cursor: default;
      }
    }
  }
  &__rubric-selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 15px;
    max-width: 900px;
    background-color: $grey-bg;
    border-radius: 10px;
    border: 1px solid $border-color;
    font-size: 18px;
    font-weight: 400;
  }
  &__timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    transform: translateX(10px);
  }
}

.switch {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 400px;
  height: 40px;
  border: 1px solid $border-color;
  border-radius: 10px;
  &__btn {
    display: inline-block;
    width: 50%;
    padding: 5px 10px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s all;
    background-color: white;
    &:hover {
      background-color: $accent-color;
    }
    &:nth-child(1) {
      border-top-left-radius: 9px;
      border-bottom-left-radius: 9px;
    }
    &:nth-child(2) {
      border-top-right-radius: 9px;
      border-bottom-right-radius: 9px;
    }
    &_active {
      background-color: $accent-color;
    }
  }
}
