.time-line {
    list-style: none;
    padding-left: 0;
}

.time-line>li {
    position: relative;
}

.time-line>li:before {
    position: absolute;
    top: -5px;
    content: '\25CF';
    margin-right: 10px;
    font-size: 20px;
}

.time-line>li:after {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    border-left: 2px solid rgb(56, 56, 56);
    margin-left: 5px;
    height: 120%;
}