.control-record {
  position: relative;
  margin-top: 20px;
  width: 90%;
  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 3px;
    left: -30px;
    width: 10px;
    height: 10px;
    background-color: #212529;
    border-radius: 100%;
  }
  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 3px;
    left: -26px;
    width: 2px;
    height: 130%;
    background-color: #212529;
  }
  &:last-child {
    &::after {
      height: 100%;
    }
  }
  &__date {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
  }
  &__content {
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
  }
  &__head {
    border-radius: 10px;
    border: 1px solid $border-color;
    transition: all 0.3s;
    &:hover {
      background-color: $grey-bg;
    }
  }
  &__checkbox {
    margin: 20px 15px;
    display: inline-block;
    vertical-align: middle;
    width: 1.2em;
    height: 1.2em;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid $border-color;
    border-radius: 0.25em;
    appearance: none;
    appearance: none;
    print-color-adjust: exact;
    &:active {
      filter: brightness(90%);
    }
    &:focus {
      border-color: $accent-color;
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgba(52, 161, 195, 0.35);
    }
    &:checked {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
      background-color: $accent-color;

      border-color: $accent-color;
    }
  }
  &__title {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 20px 10px;
    width: calc(100% - 1.2em - 35px);
    font-size: 18px;
    font-weight: 400;
    transition: 0.5s;
    cursor: pointer;
    &::after {
      content: "";
      transition: 0.3s all;
      position: absolute;
      display: block;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      background: url(../icons/dropdown-arrow.svg) center center/cover no-repeat;
    }
  }

  &__body {
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
  }

  &__rubric {
    position: relative;
    padding: 20px;
    &-descr {
      margin-top: 10px;
      color: #242424;
    }
    &-status-msg {
      position: absolute;
      top: 25px;
      right: 20px;
      font-size: 14px;
      color: #464646;
    }
  }

  &_open {
    .control-record__head {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background-color: $grey-bg;
    }
    .control-record__title {
      &::after {
        transform: rotate(-180deg) translateY(50%);
        bottom: 50%;
      }
    }

    .control-record__body {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border: 1px solid $border-color;
      border-top: none;
    }
  }
}

.rubric-record {
  position: relative;
  margin-top: 20px;
  width: 90%;
  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 3px;
    left: -30px;
    width: 10px;
    height: 10px;
    background-color: #212529;
    border-radius: 100%;
  }
  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 3px;
    left: -26px;
    width: 2px;
    height: 130%;
    background-color: #212529;
  }
  &:last-child {
    &::after {
      height: 100%;
    }
  }
  &__date {
    display: inline-block;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    margin-right: 15px;
  }
  &__control-title {
    display: inline-block;
    font-weight: 300;
    font-size: 16px;
  }
  &__content {
    margin-top: 10px;
    padding: 15px 10px;
    width: 100%;
    border-radius: 10px;
    background-color: $grey-bg;
    border: 1px solid $border-color;
  }
}
