@import "../../../../variables.scss";

.new-record {
  padding-top: 90px;
  padding-bottom: 60px;
  position: relative;
  z-index: -1;
  &__header {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
  }
  &__title {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    max-width: 450px;
    &-error {
      display: block;
      text-align: center;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__subheader {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 900px;
    font-weight: 300;
    text-align: center;
  }
  &__rubric {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 7px;
    margin: 0 auto;
    margin-top: 10px;
    max-width: 900px;
  }
  &__remove-rubric {
    display: block;
    position: absolute;
    right: -5px;
    top: -5px;
    border: none;
    background-color: rgba($color: #fff, $alpha: 0);
    transition: 0.2s all;
    cursor: pointer;
    img {
      filter: none;
      width: 30px;
    }
    &:hover {
      img {
        filter: invert(37%) sepia(28%) saturate(5114%) hue-rotate(339deg)
          brightness(90%) contrast(98%);
      }
    }
  }
  &__add-rubric-btn {
    display: block;
    margin: 0 auto;
    max-width: 900px;
    margin-top: 20px;
    width: 100%;
    border: 1px solid $border-color;
    border-radius: 0.375rem;
    font-size: 30px;
    font-weight: 400;
    color: #575f68;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: $border-color;
    }
  }
  &__save-btn {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 100px;
    width: 45%;
    height: 40px;
    border: 1px solid $border-color;
    border-radius: 0.375rem;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: $accent-color;
    }
    &:disabled {
      &:hover {
        background-color: initial;
      }
    }
  }
  &__loading {
    position: absolute;
    top: 40%;
    left: calc(50% - 25px);
  }
}
