@import "../variables.scss";

.login {
  &__wrapper {
    margin: 30px auto;
    display: flex;
    padding: 80px 30px;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    align-items: center;
    border-radius: 20px;
    border: 1px solid, $border-color;
    background-color: #f8f8f8;
    h1 {
      margin-top: 0;
    }
  }
}
