@import "../../variables.scss";

.control-compare {
  position: absolute;
  padding: 20px;
  z-index: 7;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 10px;
  border: 1px solid $border-color;
  background-color: white;

  &__head {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
  }

  &__close-btn {
    display: block;
    position: absolute;
    right: 0px;
    border: none;
    background-color: inherit;
    padding: 5px;
    &:hover {
      color: $accent-color;
    }
  }
  hr {
    margin-top: 17px;
  }
  &__control-titles {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: $grey-bg;
    border-radius: 10px;
    border: 1px solid $border-color;
  }
  &__control-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-weight: 700;
    font-size: 18px;
    &:first-of-type {
      border-right: 1px solid black;
    }
  }
  &__rubrics {
    margin-top: 10px;
    height: 70vh;
    overflow: auto;
    border-radius: 10px;
  }
  &__rubric {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    &-title {
      display: flex;
      position: sticky;
      top: 0px;
      justify-content: center;
      align-items: center;
      background-color: $grey-bg;
      height: 40px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border: 1px solid $border-color;
      font-weight: 700;
      &::before {
        content: "";
        position: absolute;
        width: 98%;
        height: 4px;
        top: -4px;
        background-color: white;
        border-bottom: 1px solid $border-color;
      }
    }
    &-body {
      display: flex;
      justify-content: space-between;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border: 1px solid $border-color;
      border-top: none;
    }
    &-descr {
      width: 50%;
      padding: 15px;
      text-align: center;
      &:first-of-type {
        border-right: 1px solid black;
      }
    }
  }
}
