@import "../../variables.scss";

.rubrics-select {
  position: relative;
  min-width: 240px;
  height: 100%;
  &__btn {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid $border-color;
    appearance: none;
    border-radius: 0.375rem;
    transition: 0.3s box-shadow;
    img {
      transition: transform 0.3s linear;
      margin-left: 10px;
      display: inline-block;
      vertical-align: middle;
      width: 20px;
    }
  }
  &__content {
    position: absolute;
    z-index: 5;
    width: 100%;
    display: none;
    top: 115%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 15px 15px 15px;
    border-radius: 10px;
    border: 1px solid $border-color;
    background-color: $grey_bg;

    ul {
      list-style-type: none;
    }
  }
  &__list {
    max-height: 250px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 7px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 25px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border-radius: 25px;
    }
  }
  &__item {
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid $border-color;
    font-weight: 400;
    color: rgb(56, 56, 56);
    cursor: pointer;
    &:hover {
      background-color: #e9e9e9;
    }
    details {
      summary {
        padding: 10px;
      }
    }
    ul {
      margin-top: 10px;
      li {
        padding: 7px 20px;
        cursor: pointer;
        font-weight: 300;
        &:hover {
          border-radius: 10px;
          background-color: $accent-color;
        }
      }
    }
  }
  &_active &__content {
    display: block;
  }
  &_active &__btn {
    background-color: #fff;
    border-color: $accent-color;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #34a1c359;
    img {
      transform: rotate(-180deg);
    }
  }
}
